*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Arvo', serif;
}

.h1{
    color: hotpink;
    border-color: aliceblue;
    
}
.top{
    background-color: aliceblue;
    height: 80px;
    display: flex;
    justify-content: center;
}

