/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

#menu{
    color:#6E57E0 ;
    display: flex;
    justify-content:center ;
    align-items:center ;
    font-size: 1.2em;
    position: sticky;
    
    
    
    
}

.menu

/* colour = #6E57E0*/
/* hsl(250, 69%, 61%)*/
